/* layout */
.container-app {
    overflow: hidden;
}

.sidebar {
	/* structure */
	border-right: 4px solid;
    padding: 0;
    z-index: 1100;

    /* skin */
    border-right-color: #DDECF7;
    background-color: #FFF;
}

.main {
    /* structure */
    padding: 0;
    border-top: 4px solid;

    /* skin */
    border-top-color: #DDECF7;
}

.h1, .h5 {
    /* structure */
    margin: 0;
    font-weight: bold;
    /* skin */
    color: #487A9D;
}

.panel-calc {
    text-align: center;
}

/* nav */
.nav .listBordered {
	/* structure */
	margin-top: 0;
    padding-right: 0;
}

.nav .btn {
	/* structure */
	text-align: right;
    border-radius: 0;
    width: 100%;
}

.nav .navLinkActive {
	/* skin */
	background-color: #DDECF7;
}

.nav .listBordered > li {
	/* structure */
	border-top: 4px solid #DDECF7;
	margin-top: 0;
    padding-right: 0;
}

.nav .h5 {
    padding-top: 10px;
}

.nav li > ul {
    text-align: right;
}

/* carousel ovverides */
.carousel .panel-body {
    padding: 0;
}

.carousel .carouselSlide {
	/* structure */
	margin: 0;
}

/* numeric input fields */
.numberInput, 
.decimalInput, 
.decimal3Input {
	/* structure */
	width: 60px;
}

/* result tables */
.resultsTable {
	/* structure */
	width: 220px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

/* desktop logo image */
.logoImg {
	background-image: url('../images/logo/logo.jpg');
	background-repeat: no-repeat;
	width: 380px;
	height: 100px;
	display: inline-block;
}

/* chrome spinner fix */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

@media (min-device-width: 768px) {
  .main {
    display: block;
  }

  .mobileMenu {
    display: none;
  }
}

@media (max-device-width: 768px) {

  /* 320 width */
  .line .col {
    padding-left: 5px;
  }

  .logoImg {
    background-image: url('../images/320w/logo.jpg');
    background-repeat: no-repeat;
    width: 320px;
    height: 100px;
    display: inline-block;
  }

  .headerAdv {
    display: none;
  }

  .sidebar {
    float: none;
    border-right: none;
    width: inherit;
  }

  .main {
    display: none;
  }

  .btn {
    text-decoration: underline;
  }

  .txtR, .nav .btn {
    text-align: center;

  }

  .nav .navLinkActive {
    background-color: white;
  }

  .mobileMenu { 
    display: inline-block; 
    width: 100%;
    text-align: center;
  }

}